/.ipynb_checkpoints/
.idea
/GaiaXpy/output_spectra.csv
/GaiaXpy/output_spectra_sampling.csv
/Data/DR3/Star/A/data.csv
/Data/DR3/Star/B/data.csv
/Data/DR3/Star/F/data.csv
/Data/DR3/Star/G/data.csv
/Data/DR3/Star/K/data.csv
/Data/DR3/Star/M/data.csv
/Data/DR3/Star/O/data.csv
/Data/DR3/espectros_normalizados_SNGM.csv
/Data/DR3/Star/main_sequence.csv
/Data/DR3/Star/A/XP_CONTINUOUS_COMBINED.csv
/Data/DR3/Star/B/XP_CONTINUOUS_COMBINED.csv
/Data/DR3/Star/F/XP_CONTINUOUS_COMBINED.csv
/Data/DR3/Star/G/XP_CONTINUOUS_COMBINED.csv
/Data/DR3/Star/K/XP_CONTINUOUS_COMBINED.csv
/Data/DR3/Star/M/XP_CONTINUOUS_COMBINED.csv
/Data/DR3/Star/O/XP_CONTINUOUS_COMBINED.csv
/new/gaia/*.zip
/new/symbad/
/new/normalized/
/new/calibrated_data/
/new/datasets/
/new/candidate_symbiotic_stars_v1/calibrated_data/
/new/candidate_symbiotic_stars_v1/gaia/
/new/candidate_symbiotic_stars_v1/normalized/
/new/candidate_symbiotic_stars_v1/symbad/
/new/candidate_symbiotic_stars_v1/output/
/new/candidate_symbiotic_stars_v1/built_dataset/
/new/candidate_symbiotic_stars_v2/built_dataset/
/new/candidate_symbiotic_stars_v2/calibrated_data/
/new/candidate_symbiotic_stars_v2/gaia/
/new/candidate_symbiotic_stars_v2/normalized/
/new/candidate_symbiotic_stars_v2/symbad/
/new/candidate_symbiotic_stars_v2/output/
/new/plot/
/new/candidate_symbiotic_stars_v1/plot/
/new/candidate_symbiotic_stars_v2/plot/
/new_v2/gaia_calibrated/
/new_v2/datasets/
/new_v2/normalized/
/new_v2/temp/
/new_v2/symbad/
/new/other_stars/output/
/new_v3/calibrated_data/
/new_v3/gaia/
/new_v3/symbad/
/new_v3/temp/
/new_v3/normalized/

*.svg
/new/candidate_symbiotic_stars_v1/built_dataset/
/new_v3/output/
/new/other_stars/symbad/
/new/other_stars/normalized/
/new/other_stars/gaia/
/new/other_stars/calibrated_data/
/new/other_stars/built_dataset/
/new_v3/datasets/
/new_v3/plot/NP-SVG/
/new_v3/plot/NP-Candidate/
/new_v3/gaia-np-candidate/
/new_v3/ml/RNA/np-candidate.csv
